@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
    .highlight-title {
        color:#FF4C29;
        font-family: 'Playfair Display';
        text-transform: capitalize;
        font-weight: 700;
    }
    .button-highlight {
        background:#FF4C29;
        color:white;
    }
    .white-text {
        color: white;
    }
    .black-text {
        color:black;
    }
    .grey-blue {
        color: #334756;
    }
    .left {
        float:left;
    }
    .right {
        float: right;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    .main-div {
        margin-top: 40px;
    }
    .down-arrow::after {
        content: url("images/down-arrow.png");
        padding:5px;
    }
    /* .container {
        max-width: 375px;
        margin:auto;
        padding:auto;
    } */
    .header-container {
        width:100%;
    }
    .body-container {
        width:89.06667%;
        margin:auto;
        /* background:orange; */
    }
    .navigation-container,.login,.line {
        display: none;
    }
    .large-content {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 36px;
        text-transform: capitalize;   
        color: #334756;
    }
    .small-content {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #667580;
        line-height: 160%;
    }
    .fa-bars {
        width:22.67px;
        height:17px;
        margin:27px 72.7px 0px 26px;
        display:inline-block;
    }
    .logo {
        width: 35.4667%;
        text-align: center;
        display: inline-block;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
        margin:14px 0px 33px 0px;
    }
    .nav li {
        display:inline-block;
        padding: 0px 24px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #334756;
    }
    .nav .first {
        font-weight: bold;
    }
    .login{
        font-weight: bold;
        color:#334756;
        margin-left: 200px;
        padding:0px;
    }
    .login::after {
        vertical-align: middle;
        content: url("images/user.png");
        padding-left: 10px;
    }
    .intro {
        width:100%;
        margin:auto;
    }
    .services,.facilities, .testimonial,.social-proof,.information {
        width:100%;
    }
    .intro-image {
        width: 100%;
        /* height:282px; */
    }
    .intro-content {
     width:100%;
    }
    .intro-big {
        margin:32px 0px 20px 0px;
    }
    .space-intro {
        margin-top:20px;
    }
    button {
        justify-content: center;
        align-items: center;
        padding: 13px 43px;
        width:100%;
    }
    .service-header-left {
        margin-top: 32px;
        margin-bottom: 12px;
        width:100%;
    }
    .service-header-right {
        width:100%;
        margin-bottom: 20px;
    }
    .services-body {
        width:100%;
        display: inline-block;
    }
    .ser-img {
        width:100%;
        height:200px;
    }
    .services-card-2 .main {
        background:#2C394B;  
        height:200px;  
        text-align :center;
        color:white;
        font-family: Lato;
        font-style: normal;
    }
    .services-card-2 .bottom {
        height:64px;
    }
    .bottom .bottom-left {
        margin:20px 50px 20px 41px;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
    }
    .bottom .bottom-img {
        padding-top:32px;
    }
    .paragraph {
        padding-bottom:55.91px;
        font-family: Lato;
        font-style: normal;
        padding-left: 21px;
        padding-right:21px;
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
        line-height: 110%;
    }
    .services-card-content {
        background:#2C394B;  
        height:64px;  
        text-align :center;
        color:white;
        font-family: Lato;
        font-style: normal;
    }
    .content-left {
        margin:21px 127px 21px 30px;
        display:inline-block;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
    }
    .content-img {
        margin:24px 10px 24px 0px;
        height:16px;
        width:16px;
    }
    .content-right {
        margin:24px 0px;
        font-weight: 300;
        font-size: 12px;
        line-height: 140%;
    }
    .services-card-2, .services-card-3 {
        margin-top:24px;
    }

    .facilities-header-left {
        width:100%;
    }
    .facilities-header-right {
        width:100%;
        margin-top: 12px;
        margin-bottom: 33px;
    }
    .facilities-body {
        width:100%;
    }
    .facilities-body-left {
        width:100%;
    }
    .facilities-body-left li{
        width:100%;
        padding: 14px 0px 14px 0px;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #334756;
    }
    .facilities-body-right {
        display:none;
    }
    .location {
        width:89.06667%;
        margin-left:auto;
        margin-right:auto;
    }
    .location-right {
        width:100%;
    }
    .loc-last {
        width:89.06667%;
        margin:auto;
    }
    .loc-header {
        margin-top:40px;
        margin-bottom:20px;
    }
    .loc-img {
        width:100%;
    }
    .loc-text {
        margin-top: 48px;
        margin-bottom: 49px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #086DE0;
        display: inline-block;
        margin-right: 30px;
    }
    .test-header {
        margin-bottom: 36px;
    }
    .testimonial-card {
        width:100%;
        background: #334756;
        position: relative;
        height:258px;
    }
    .test-card-2, .test-card-3 {
        display:none;
    }
    .testimonial-card-quotation {
        margin:24px 0px 0px 30px;
        position: absolute;
    }
    .testimonial-card-content {
        margin:41px 30px 0px 35px;
        z-index: 1;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
    }
    .prof-large {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
    .prof-small {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }
    .testimonial-card-profile {
        position:absolute;
        bottom:36px;
        left: 35px;
    }
    .testimonial-card-profile-pic {
        margin-right: 16px;
    }
    .test-last {
        margin-top:29px;
    }
    .test-left {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #086DE0;
    }
    .test-arrow {
        margin-left:30px;
    }
    .social-proof-header {
        width:100%;
    }
    .social-head {
        margin:28px 0px 12px 0px;
    }
    .social-body{
        text-align: left;
        margin-bottom:40px;
    }
    .social-proof-body {
        width: 100%;
        text-align:center;
    }
    .media {
        width:62.38%;
        height:40px;
        display: inline-block;
        text-align:center;
        margin-bottom:32px;
    }
    .media .last {
        margin-bottom:28px;
    }
    .information-header, .information-body-main,.info-main-1,.info-main-2 ,.information-body-img, .information-body-content {
        width:100%;
    }
    .information-header {
        margin-bottom: 20px;
    }
    .information-body-content-first {
        margin: 20px 44px 8px 20px;
        font-weight: bold;
        font-size: 20px;
        color: #334756;  
        display: block; 
        font-family: Lato;
    }
    .information-body-content-second {
        font-weight: 300;
        font-size: 10px;
        color: #2C394B;
        display: block;
        margin: 0px 220px 22px 20px;
        font-family: Lato;
    }
    .info-card-2, .info-card-5,.info-card-6 {
        display: none;
        visibility:none;
    }
    footer {
        margin-bottom: 107px;
    }
    .footer-main {
        margin-top:68px;
        width:100%;
    }
    .footer-body-content {
        width:100%;
    }
    .footer-body-1 {
        display: inline-block;
        list-style: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }
    .footer-body-1 li {
        margin-bottom:20px;
        margin-left:20px;
    }
    .footer-body-1 .first {
        margin-top:24.5px;
    }
    .footer-body-1 .last {
        margin-bottom:0px;
    }
    .footer-body-center,.footer-body-right {
        display: none;
        visibility: none;
    }
    .footer-heading {
        padding:0px;
        margin-top:40px;
        margin-left:20px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 110%;
    }
    .footer-line {
        width:100%;
        margin-bottom: 19px;
        text-align: center;
    }
    .footer-last {
        text-align: center;
        margin-bottom:50px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
    .footer-highlight {
        font-size: 20px;
        color: #086DE0;
    }
    .social-media-icon {
        width:100%;
        display:block;
        margin-left:20px;
        margin-bottom:40px;
    }
    .footer-icon {
        margin-left: 20px;
    }
    .footer-loc {
        color: #334756;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    @media screen and (min-width:768px) {
        /* .container {
            max-width: 834px;
            margin:auto;
            width:100%;
        } */
        .logo {
            width: 15.9472%;
        }
        .fa-bars {
            margin-right:290px;
        }
        .body-container, .header-container {
            width: 92.326%;
            margin: auto;
            /* background: brown; */
        }
        .body-container-2 {
            width:92.326%;
            margin:auto;
        }
        .main-div {
            margin-top:48px;
        }
        .intro-image {
            width:48.1233%;
            height:293px;
        }
        .intro-content {
            width: 47.5388%;
            margin-left: 33px;
        }
        .intro-big {
            margin-top: 0px;
        }
        .intro-small {
            margin-top: 16px;
        }
        .space-intro {
            margin-top: 16px;
        }
        .button1 {
            width: 52.585%;
        }
        .button-right{
            width: 42.27%;
            padding:13px 50px 13px 50px;
            display:inline-block;
        }
        .service-header-right {
            width:96.11%;
            display: inline-block;
            margin-left: 0px;
        }
        .services-body {
            width:100%;
        }
        .services-card-1 {
            width:31.6062%;
        }
        .services-card-2,.services-card-3 {
            margin-top:0px;
            width:31.12%;
            margin-left:20px;
        }
        .paragraph {
            padding-bottom:20px;
            padding-left: 14px;
            padding-right:14px;
            font-size: 12px;
            text-align: center;
            margin-top:0.5px;
        }
        .ser-img {
            height:137px;
        }
        .services-card-2 .main {
            background:#2C394B;  
            height:137px;  
            text-align :center;
            color:white;
            font-family: Lato;
            font-style: normal;
        }
        .bottom {
            width:100%;
        }
        .bottom .bottom-left {
            margin:23px 20px 23px 21px;
            font-size: 16px;
        }
        .bottom .bottom-img {
            padding-top:32px;
        }
        .services-card-content {
            background:#2C394B;  
            height:64px;  
            text-align :center;
            color:white;
            font-family: Lato;
            font-style: normal;
        }
        .content-left {
            margin:21px 56px 15px 20px;
            display:inline-block;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
        }
        .content-img {
            margin:24px 10px 24px 0px;
            height:16px;
            width:16px;
        }
        .content-right {
            margin:24px 0px;
            font-weight: 300;
            font-size: 12px;
            line-height: 140%;
        }   
        .location {
            width:100%;
            margin-top:48px;
        }
        .location-right {
            width: 42.987%;
            margin:17px;
        }
        .loc-last {
            width: 34%;
            display:inline-block;
            margin-left:28px;
        }
        .loc-header {
            margin-top:40px;
            margin-bottom:20px;
            margin-left:0px;
            /* width:81.873%;
            margin-left: 28px; */
        }
        .loc-img {
            width:51.168%;
            margin-bottom:94px;
            height:153.23px;
            padding-top:97px;
        }
        .loc-content {
            width:100%;
        }
        .loc-text {
            margin-top: 44px;
            margin-bottom: 40px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 120%;
            color: #086DE0;
            display: inline-block;
            margin-right: 24px;
        }
        .facilities, .facilities-body {
            width:100%;
        }
        .facilities-body-left {
            width:32.0779%;
            display:inline-block;
        }
        .facilities-body-left li {
            text-align: left;
        }
        .facilities-body-right {
            width:52.0779%;
            display: inline-block;
            margin-left:121px;
        }
        .img-facilities {
            width:400px;
        }
        .testimonial , .testimonial-body{
            width:105.7142%;
        }
        .testimonial-card {
            width:48.52%;
        }
        .test-card-2 {
            display: inline-block;
            margin-left: 23px;
        }
        .test-last {
            display: none;
        }
        .social-proof {
            width:100%;
        }
        .social-proof-header {
            text-align:center;
            width:100%;
        }
        .social-body {
            text-align: center;
        }
        .social-proof-body {
            width: 100%;
            text-align:center;
            display: inline-block;
        }
        .media {
            width:20.9844%;
            margin:auto;
            height:40px;
            display: inline-block;
            text-align:center;
            margin-bottom:0px;
            margin-right:25px;
        }
        .media .last {
            margin-bottom:0px;
        }
        .information ,.information-body-main{
            width: 100%;
        }
        .information-header {
            margin-top:74px;
            margin-bottom:40px;
        }
        .information-body-content-first {
            margin: 13px 23px 8px 16px;
            font-size: 18px;
        }
        .information-body-content-second {
            font-weight: 300;
            font-size: 10px;
            margin: 0px 0px 13px 16px;
        }
        .info-card-4, .info-card-5,.info-card-6 {
            display: none;
            visibility:none;
        }
        .info-card-1 {
            width:31.5062%;
            display:inline-block;
        }
        .info-card-2,.info-card-3 {
            width:31.6062%;
            display:inline-block;
            margin-left:20px;
        }
        .information-body-img {
            height:200px;
        }
        .information-body-content {
            height:115px;
        }
        .info-paragraph1 {
            font-weight: bold;
            font-size: 20px;
            color: #334756;
            margin:20px 24px 12px 20px;
            font-size: 18px;
            line-height: 120%;
            font-family: Lato;
            font-style: normal;
        }
        .info-paragraph2 {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: #667580;
            margin:0px 18px 12px 20px;
        }
        .info-paragraph3 {
            margin:0px 0px 12px 20px;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 140%;
            color: #334756;
        }
        .info-girl {
            height:24px;
            width:24px;
            margin:0px 0px 20px 20px;
        }
        .info-text {
            color: #086DE0;
            font-weight: bold;
            margin-right: 40px;
            font-family: Lato;
            font-style: normal;
            font-size: 14px;
            line-height: 140%;
            margin:0px 40px 0px 20px;
        }
        .info-bottom {
            vertical-align: center;
        }
        .footer-body-right {
            display:block;
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            margin-left:413px;
        }
        .footer-head {
            margin:117px 32px 30px;
        }
        .social-media-icon {
            width:17.09844%;
            display:block;
            margin-top:55px;
            float:right;
        }
        .footer-loc {
            margin-top:34px;
        }


    }

    @media screen and (min-width:1336px) {
       *{
           margin:0px;
           padding:0px;
       }
       .header-container .fa-bars {
           display:none;
           visibility:none;
       }
       .logo {
        width: 11.31%;
        display: inline-block;
        margin:53px 100px 0px 0px;
    }
    body {
        max-width:1440px;
        margin:auto;
    }
       .container {
           max-width:1440px;
           margin:auto;
       } 
       .body-container, .header-container {
           max-width: 1175px;
           /* background: green; */
       }
       
       .large-content {
            font-weight: bold;
            font-size: 40px;
            line-height: 53px;
       }
       .navigation-container {
           display: inline-block;
           margin:53px 0px 51px 0px;
       }

       .line {
           display: block;
       }
       .intro-content {
           width:41.02%;
           margin-left:79px;
           margin-top:0px;
       }
       .intro-image {
           width:52.25%;
           height:461px;
       }
       .intro-big {
           margin-top: 46.84px;
       }
       .intro-button {
           margin-top: 70px;
       }
       .button-right {
           margin-right: 112px;
           width: 32.57%;
       }
       .intro-small {
           width:82.33%;
           display: inline-block;
           font-size: 16px;
           line-height: 110%;
           margin-top:0px;
       }
       .button1 {
        width: 40.0414%;
    }
    .button-right{
        width: 32.5726%;
        padding:13px 50px 13px 50px;
        display:inline-block;
    }
    .service-header-left {
        width:34.97%;
        float:left;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
    }
    .service-header-right {
        width:42.2978%;
        display: inline-block;
        float:right;
        margin-left: 0px;
        font-size: 16px;
        line-height: 110%;
    }
    .services-body {
        width:100%;
    }
    .services-card-1 {
        width:30.212%;
    }
    .services-card-2,.services-card-3 {
        margin-top:0px;
        width:30.212%;
        margin-left:53px;
    }
    .paragraph {
        margin-top:25px;
        color: #C2C2C2;
    }
    .ser-img {
        height:200px;
    }
    .services-card-2 .main {
        height:200px;  
    }
    .bottom {
        width:100%;
    }
    .bottom .bottom-left {
        margin:20px 50px 20px 50px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
    }
    .content-left {
        margin:21px 147px 21px 30px;
    }
    .facilities-header-left {
        width:43.23%;
    }
    .facilities-header-right {
        width:38.2978%;
        margin-left:80px;
    }

    .facilities-body-left {
        width:22.80%;
    }
    .facilities-body-left li {
        text-align: left;
        padding:14px 0px 14px 24px;
        margin-bottom:16px;
    }
    .facilities-body-right {
        width:49.9574%;
        display: inline-block;
        margin-left:121px;
        float:right;
    }
    .img-facilities {
        width:100%;
        height:351px;
    }
    .location {
        width:100%;
        margin-top:48px;
    }
    .location-right {
        width: 32.765%;
    }
    .loc-last {
        width:32.765%;
        display:inline-block;
        margin-left:28px;
    }
    .loc-header {
        font-size: 32px;
        line-height: 41px;
        /* width:81.873%;
        margin-left: 28px; */
    }
    .loc-img {
        width:63.9361%;
        margin-bottom:93px;
        height:300px;
        padding-top:93px;
    }
    .loc-content {
        width:85.9740%;
        font-size: 16px;
        line-height: 110%;
    }
    .loc-text {
        margin-top: 70px;
        margin-bottom: 40px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #086DE0;
        display: inline-block;
        margin-right: 24px;
    }
    .testimonial , .testimonial-body{
        width:100%;
    }
    .testimonial-card {
        width:31.60%;
        height:258px;
    }
    .test-card-2,.test-card-3 {
        display: inline-block;
        margin-left: 24px;
    }
    .test-last {
        display: none;
    }
    .social-body {
        width:49.7021%;
        margin:auto;
    }
    .social-proof-body {
        margin-top:82px;
    }
    .media {
        width:17.70%;
        margin:auto;
        margin-right:80px;
    }
    .media .last {
        margin-bottom:0px;
    }
    .info-card-1,.info-card-4 {
        width:30.63%;
        display:inline-block;
    }
    .info-card-2,.info-card-3,.info-card-5,.info-card-6 {
        width:30.63%;
        display:inline-block;
        margin-left:31px;
    }
    .information-body-img {
        height:240px;
    }
    .info-paragraph1 {
        font-size: 20px;
        margin:45px 24px 20px 40px;
    }
    .info-paragraph2 {
        font-size: 12px;
        line-height: 110%;
        margin:0px 25px 20px 40px;
    }
    .info-paragraph3 {
        margin:0px 0px 20px 40px;
    }
    .info-girl {
        height:40px;
        width:40px;
        margin:0px 0px 20px 40px;
    }
    .info-text {
        margin:0px 40px 0px 40px;
    }
    .footer-body-1 {
        width:14.4097%;
        line-height: 140%;
        font-size: 16px;
        margin:91px 0px 0px 117px;
    }
    .footer-body-1 li {
        margin-bottom:20px;
        margin-left:20px;
    }
    .footer-body-center{
        display: inline-block;
        width:38.125%;
        margin:91px 171px 0px 128px;
        text-align:left;
    }
    .footer-heading {
        padding:0px;
        margin-top:0px;
        margin-left:0px;
    }
    .footer-body-center {
        display:inline-block;
        /* background:red; */
    }
    .middle-1 {
        width:15.48%;
        display:inline-block;  
    }
    .middle-2,.middle-3 {
        width:20.40%;
        display:inline-block;  
        margin-left:120px;
    }
    .footer-body-center li {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #667580;
        margin-bottom: 20px;
    }
    .footer-line {
        width:100%;
        margin-bottom: 19px;
        text-align: center;
    }
    .footer-last {
        text-align: center;
        margin-bottom:50px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
    .footer-highlight {
        font-size: 20px;
        color: #086DE0;
    }
    .social-media-icon {
        width:100%;
        display:block;
        margin-left:20px;
        margin-bottom:40px;
    }
    .footer-icon {
        margin-left: 20px;
    }
    .footer-loc {
        color: #334756;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
    footer {
        /* background: orange; */
    }
    .footer-body-right {
        display:block;
        width:15.73%;
        margin:91px 0px 60px 0.5px;
        /* background: brown; */
    }
    .footer-body-center .footer-head {
        margin:0px 0px 34px 0px;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #334756;

    }
    .footer-body-right .footer-head {
        margin:0px 0px 34px 0px;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #334756;
    }
    .social-media-icon {
        width:9.16667%;
        display:block;
        margin-top:0px;
        float:right;
    }
    .footer-loc {
        margin-top:34px;
    }
    .footer-last {
        color: #667580;
    }


    }