@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
    .highlight-title {
        color:#FF4C29;
        font-family: 'Playfair Display';
        text-transform: capitalize;
        font-weight: 700;
    }
    .button-highlight {
        background:#FF4C29;
        color:white;
    }
    .white-text {
        color: white;
    }
    .black-text {
        color:black;
    }
    .grey-blue {
        color: #334756;
    }
    .left {
        float:left;
    }
    .right {
        float: right;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    .main-div {
        margin-top: 40px;
    }
    .down-arrow::after {
        content: url("images/down-arrow.png");
        padding:5px;
    }
    .container {
        max-width: 375px;
        margin:auto;
        padding:auto;
    }
    .header-container {
        width:100%;
    }
    .body-container {
        width:89.06667%;
        margin:auto;
    }
    .navigation-container,.login,.line {
        display: none;
    }
    .large-content {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 36px;
        text-transform: capitalize;   
        color: #334756;
    }
    .small-content {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #667580;
    }
    .logo-Luemburs {
        width: 35.46%;
        padding: 14px 121px 33px 121px;
        display: inline-block;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
    }
    .nav li {
        display:inline-block;
        padding: 0px 24px;
    }
    .login{
        font-weight: bold;
        color:#334756;
        margin-left: 200px;
        padding:0px;
    }
    .login::after {
        vertical-align: middle;
        content: url("images/user.png");
        padding-left: 10px;
    }
    .intro-image {
        width: 100%;
    }
    .intro-big {
        margin:32px 0px 20px 0px;
    }
    .space-intro {
        margin-top:20px;
    }
    button {
        justify-content: center;
        align-items: center;
        padding: 13px 43px;
        width:100%;
    }
    .service-header-left {
        margin-top: 32px;
        margin-bottom: 12px;
        width:100%;
    }
    .service-header-right {
        width:100%;
        margin-bottom: 20px;
    }
    .services-body {
        display: inline-block;
    }
    .services-card-main {
        background: #2C394B;
    }
    .service-card-paragraph {
        padding-bottom:55.91px;
        font-family: Lato;
        font-style: normal;
        padding-left: 31px;
        padding-right:31px;
        font-size: 12px;
        text-align: center;
    }
    .services-card {
        width:100%;
        margin-bottom: 24px;
    }
    .service-card-photos {
        width: 100%;
    }
    .services-card-content {
        background:#2C394B;  
        height:64px;  
        text-align :center;
    }
    .services-card-content-bottom { 
        height:64px;  
        text-align :center;
    }
    .services-card-content-box {
        margin: 0px 30px 21px 30px;
        padding: 21px;
        text-align: center;
    }
    .services-card-content-box1 {
        margin: 0px 30px 21px 30px;
        padding: 21px;
        text-align: center;
    }
    .services-card-content-box-left {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    .services-card-content-right-right {
        font-family: Lato;
        font-style: normal;
        font-size:12px;
        padding-left: 10px;
        padding-top:2px;
    }
    .facilities-header-left {
        width:100%;
    }
    .facilities-header-right {
        width:100%;
        margin-top: 12px;
        margin-bottom: 33px;
    }
    .facilities-body {
        width:100%;
    }
    .facilities-body-left {
        width:100%;
    }
    .facilities-body-left li{
        width:100%;
        padding: 14px 0px 14px 0px;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #334756;
    }
    .facilities-body-right {
        display:none;
    }
    .location, .location-right {
        width:100%;
    }
    .loc-header , .loc-content, .loc-last {
        width:89.06667%;
        margin-left:auto;
        margin-right:auto;       
    }
    .loc-header {
        margin-top:40px;
        margin-bottom:20px;
    }
    .loc-img {
        width:110%;
    }
    .loc-text {
        margin-top: 48px;
        margin-bottom: 49px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #086DE0;
        display: inline-block;
        margin-right: 30px;
    }
    .body-container-2 {
        width:89.06667%;
        margin:auto;
    }
    .test-header {
        margin-bottom: 36px;
    }
    .testimonial-card {
        width:100%;
        background: #334756;
        position: relative;
        height:258px;
    }
    .test-card-2, .test-card-3 {
        display:none;
    }
    .testimonial-card-quotation {
        margin:24px 0px 0px 30px;
        position: absolute;
    }
    .testimonial-card-content {
        margin:41px 30px 0px 35px;
        z-index: 1;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
    }
    .prof-large {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
    .prof-small {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }
    .testimonial-card-profile {
        position:absolute;
        bottom:36px;
        left: 35px;
    }
    .testimonial-card-profile-pic {
        margin-right: 16px;
    }
    .test-last {
        margin-top:29px;
    }
    .test-left {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #086DE0;
    }
    .test-arrow {
        margin-left:30px;
    }
    .social-proof {
        width:100%;
    }
    .social-proof-header {
        width:100%;
    }
    .social-head {
        margin:28px 0px 12px 0px;
    }
    .social-body{
        text-align: left;
        margin-bottom:40px;
    }
    .social-proof-body {
        width: 55.55%;
        margin-left: 83px;
        margin-right: 83px;
        margin-bottom: 28px;
        margin-top: 40px;
    }
    .zoom {
        width: 64%;
        padding-top: 5px;
    }
     .grab {
        width: 47.89%;
        padding-top: 20px;
    }
    .googlemeet {
        width: 98.79%;
        padding-top: 20px;
    }
     .microsoft {
        width: 82.09%;
        padding-top: 20px;
    }
    .social-proof-body-img {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .information,.information-body-main , .information-body, .information-body-part1,.information-body-img, .information-body-content {
        width:100%;
    }
    .information-header {
        margin-bottom: 20px;
    }
    .information-body-content-first {
        margin: 20px 44px 8px 20px;
        font-weight: bold;
        font-size: 20px;
        color: #334756;  
        display: block; 
        font-family: Lato;
    }
    .information-body-content-second {
        font-weight: 300;
        font-size: 10px;
        color: #2C394B;
        display: block;
        margin: 0px 220px 22px 20px;
        font-family: Lato;
    }
    .info-body, .info-card-4, .info-card5 {
        display: none;
    }
    .info-paragraph1 {
        font-weight: bold;
        font-size: 20px;
        color: #334756;
        margin-top:45px;
    }
    .info-paragraph2 {
        font-weight: normal;
        font-size: 12px;
        color: #667580;
    }
    .info-space-between {
        margin-top: 20px;
    }
    .info-body1 {
        margin-left: 40px;
        margin-right: 24.82px;
    }
    .info-text {
        color: #086DE0;
        font-weight: bold;
        margin-right: 40px;
    }
    .info-bottom {
        vertical-align: center;
    }
    .card-middle-right {
        margin-left:30px;
    }
    footer {
        margin-bottom: 107px;
    }
    .footer-main {
        margin-top:68px;
        width:100%;
    }
    .footer-body-content {
        width:100%;
    }
    .footer-body {
        display: inline-block;
        list-style: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }
    .footer-body-center, .footer-body-right {
        display: none;
    }
    .footer-body-content li {
        padding: 20px;
    }
    .footer-heading {
        padding:0px;
        margin-top: 15px 0px 15px 0px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 110%;
    }
    .footer-head {
        color: #334756;
        font-weight: bold;
        font-size: 20px;
    }
    .footer-line {
        width:100%;
        margin-bottom: 19px;
        text-align: center;
    }
    .footer-last {
        text-align: center;
        margin-bottom:50px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
    }
    .footer-highlight {
        font-size: 20px;
        color: #086DE0;
    }
    .footer-icon {
        margin-left: 20px;
    }
    .footer-loc {
        color: #334756;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    @media screen and (min-width:768px) {
        .container {
            max-width: 834px;
            margin:auto;
            width:100%;
        }
        .logo-Luemburs {
            padding: 14px 0px 57px 351px;
        }
        .body-container, .header-container {
            width: 92.326%;
            margin: auto;
            background: brown;
        }
        .body-container-2 {
            width:92.326%;
            margin:auto;
        }
        .main-div {
            margin-top:48px;
        }
        .intro-image {
            width:46.29%;
        }
        .intro-content {
            width: 48.16%;
            margin-left: 33px;
        }
        .intro-big {
            margin-top: 0px;
        }
        .intro-small {
            margin-top: 16px;
        }
        .space-intro {
            margin-top: 16px;
        }
        .button-highlight {
            padding:13px 43px 13px 43px;
            display:inline-block;
            width: 52.08%;
        }
        .button-right{
            width: 42.27%;
            padding:13px 50px 13px 50px;
            display:inline-block;
        }
        .service-header-right {
            width:96.11%;
            display: inline-block;
            margin-left: 0px;
        }
        .services-body {
            width:100%;
        }
        .services-card {
            width:31.5653%;
        }
        .ser-card-1,.ser-card-2 {
            margin-right:20px;
        }
        .services-card-content-box {
            margin: 0px 20px 21px 20px;
            padding:21px 0px 0px 0px ;
            text-align: center;
        }
        .services-card-content-box1 {
            margin: 0px 15px 12px 15px;
            padding:18px 0px 0px 0px ;
            text-align: center;
        }
        .service-card-paragraph {
            padding-bottom:20px;
            font-family: Lato;
            font-style: normal;
            padding-left: 14px;
            padding-right:14px;
            font-size: 12px;
            text-align: center;
            margin-top:0px;
        }
        .facilities, .facilities-body {
            width:100%;
        }
        .facilities-body-left {
            width:32.0779%;
            display:inline-block;
        }
        .facilities-body-left li {
            text-align: left;
        }
        .facilities-body-right {
            width:52.0779%;
            display: inline-block;
            margin-left:121px;
        }
        .img-facilities {
            width:400px;
        }
        .testimonial , .testimonial-body{
            width:105.7142%;
        }
        .testimonial-card {
            width:48.52%;
        }
        .test-card-2 {
            display: inline-block;
            margin-left: 23px;
        }
        .test-last {
            display: none;
        }
        .social-proof {
            width:100%;
        }
        .social-proof-header {
            text-align:center;
        }
        .social-body {
            text-align: center;
        }
        .information ,.information-body-main,{
            width: 100%;
        }
        .information-header {
            margin-top:74px;
            margin-bottom:40px;
        }
        .info-body1 {
            display: inline-block;
        }
        .information-body ,.information-body-part2,.info-body1{
            width:31.688%;
        }
        .information-main-body-2 {
            display:none;
        }

    }

    @media screen and (min-width:1336px) {
       *{
           margin:0px;
           padding:0px;
       }
       .container {
           max-width:1440px;
           margin:auto;
       } 
       .body-container, .header-container {
           max-width: 1175px;
           background: green;
       }
       
       .large-content {
            font-weight: bold;
            font-size: 40px;
            line-height: 53px;
       }
       .navigation-container {
           display: inline-block;
           margin:53px 0px 51px 0px;
       }
       .logo-Luemburs {
        padding: 53px 0px 51px 0px;
       }
       .line {
           display: block;
       }
       .intro-content {
           width:41.02%;
           margin-left:79px;
       }
       .intro-image {
           width:52.25%;
       }
       .intro-big {
           margin-top: 46.84px;
           margin-bottom: 20px;
       }
       .intro-button {
           margin-top: 70px;
       }
       .button-highlight {
           width: 40.04%;
       }
       .button-right {
           margin-right: 112px;
           width: 32.57%;
       }
       .intro-small {
           width:82.33%;
           display: inline-block;
       }
    }